# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Tauri
src-tauri/target
src-tauri/gen
# Cargo.lock 二进制项目应该提交，便于 CI 复现构建

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
